@import './base.css';

#app {
  background-color: var(--background-color);
  margin: 0;
  height: 100vh; /* Define a altura como 100% da altura da janela do navegador */
  color: black;
  overflow-x: hidden; /* Evita a rolagem horizontal */
}

.v-btn {
  margin: 3px;
}

a,
.black {
  height: 40%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.4s;
  padding: 3px;
}

a {
  cursor: pointer;
}

@media  (max-width: 768px) {
  #app {
    width: 100%;
  }
}